
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-users-outline:before { content: '\e801'; } /* '' */
.icon-doc-text-1:before { content: '\e802'; } /* '' */
.icon-check-outline:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-cog-outline:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
